<aside id="home-intro">
    <article>
        <h2>About AIFSHE</h2>
        <p>In 2011, the Technical Centre for Agricultural and Rural Cooperation (CTA), began a collaboration with the Education and Competence Studies Group and the Centre for Sustainable Development &amp; Food Security of Wageningen University and Research centre (CSD&amp;FS, Wageningen UR), the African regional university networks (ANAFE, RUFORUM, TEAM Africa) and the Forum for Agricultural Research in Africa (FARA) to strengthen the engagement of tertiary agricultural education institutes (TAEs) in agricultural and rural development (ARD) policy processes.</p>
    </article>
</aside><!-- /#home-intro -->

<article id="food-nutrition-security">
    <h3>Food and nutrition security (FNS)</h3>
    <p><strong>Food and nutrition security</strong> was identified as the entry point given the challenges faced by African, Caribbean and Pacific (ACP) countries in addressing this global challenge. Eight national universities in selected African countries (Benin, Burkina Faso, Kenya, Niger, Senegal and Tanzania) and two regional universities; the University of the West-Indies, Trinidad and Tobago campus in the Caribbean and the University of South Pacific, Fiji, in the Pacific were nominated to join the consortium to co-develop and pilot an approach for strengthening the engagement of TAEs in FNS policy processes and improving practice. The Auditing Instrument for Food Security in Higher Education (AIFSHE) online tool is an output of the CTA/Wageningen UR/ACP university network collaboration.</p>
    <p>Five criteria are assessed when using the AIFSHE tool. These include; the vision, capacity development efforts, existing curricula, research programmes, community network, outreach . The process is very participatory and involves faculty, students and stakeholders. The initial self-assessment provides a starting point or baseline which shows how TAEs integrate FNS into their teaching, research and outreach programmes. The report serves as the basis for determining future short-, medium and long term-goals and possible interventions. As such, the AIFSHE tool helps the TAE to set milestones and monitor progress in implementing jointly agreed policy and programmatic changes.</p>
    <a href="http://www.cta.int/images/resources/AIFSHE-tool-online-info-for-users.pdf" class="btn">read more</a>
    <p>&nbsp;</p>
    <p>However, the AIFSHE tool is only part of the methodology developed which requires TAEs to ask the following questions and reflect on the responses, namely:</p>
    <ul>
        <li>What are the national/regional food and nutrition security (FNS) policy goals and priorities? </li>
        <li>What is being done within the university to address FNS including the increase in food supplies and the reduction of hunger?</li>
        <li>What portfolio of mechanisms and activities (including policies, capacity development efforts, existing curricula with courses, modules, research, community outreach, etc.) are already in place for addressing the prioritized FNS goals and priorities? </li>
        <li>How can the TAEs increase their impact in the society and thereby contribute to improving the FNS situation?</li>
    </ul>
</article><!-- /#food-nutrition-security -->

<article id="integrated-approach">
    <h3>Integrated approach</h3>
    <div class="bg-gray">
        <p>The CTA/Wageningen UR/ACP university network integrated approach on FNS, consists of 4 steps or activities:</p>
        <h4>Activity 1</h4>
        <p>Quick-scan at the macro level: current national and regional level policy framework and within the institution /university; the current education, training and research programmes with respect to FNS;</p>
        <h4>Activity 2</h4>
        <p>Institutional /self-assessment / Audit at the meso level: vision, capacity development efforts, existing curricula, research programmes, community network, outreach;</p>
        <h4>Activity 3</h4>
        <p>360° Feedback: Internal review of the reports of the Quickscan & AIFSHE audit / institutional self-assessment (internal); Stakeholders mapping: actors roles, capacities, responsibilities (external)</p>
        <h4>Activity 4</h4>
        <p>National stakeholder consultation to share results and proposed plans for better integrating FNS into programmes and responding to societal needs. </p>
        <p>The approach is built ‘outside in’: an institutional and educational policy analysis involving desk studies, focus group debates, along with short online surveys and national consultations. The main purpose of which is to identify what are the FNS policy goals and priorities and the institutional policies and programmes to respond to the FNS challenge e.g. “Increasing food supply and reducing hunger.” This determines to what extent the TAE already focuses on FNS issues, followed by an identification of key gaps and a strategy to help bridge the gaps. Mechanisms to make TAE’s more responsive to FNS are also targeted. </p>
    </div>
</article><!-- /#integrated-approach -->

<article id="conclusions-recommendations">
    <h3>Main conclusions and recommendations</h3>
    <div class="bg-gray">
        <p>The CTA/Wageningen UR/ACP university network pilots have generated the following main conclusions and recommendations: </p>
        <ol>
            <li>TAE’s recognized food and nutrition security as the most important and challenging issue to be addressed, followed (and connected) with other issues like climate change, poverty, water and biodiversity loss.</li>
            <li>The use of the AIFSHE tool made it possible to depict the present situation of the TAE’s in their specific context and to set clear ambitions for a tailored (local) transition to a food secure future with a sustained academic contribution from the higher education system.</li>
            <li>The possibility exists to organize transnational academic clusters and by doing so, to create a learning community among the TAE’s of this pilot.</li>
            <li>There is added value of the internal academic and wider national workshops, which target the field Society & Research (see Figure 1). This reinforces the need to consolidate the collaboration between TAEs and the business world. </li>
            <li>The long-term institutional changes, which are seen as crucial, are also recognized as the most time-consuming and challenging, given internal structures. This is also reflected in the discrepancy between the desired situations and expected feasibility to realize them. However, at department or faculty level, certain objectives such as the integration of food and nutrition security in the vision/mission, in operations (in some extent) and in the communication (internal and external) about food and nutrition security seem achievable.</li>
        </ol>
    </div>
    <figure>
        <img src="/bundles/ctaaishe/img/TransformingTertiaryEducation.jpg"/>
        <figcaption>Figure 1: Transforming Tertiary Education toward the Integration of Food Security (source: Wals, A.; Bello, O. and Francis, J.A. 2013)</figcaption>
    </figure>
</article><!-- /#conclusions-recommendations -->

<aside id="related-articles">
    <article>
        <h3>Related articles and publications</h3>
        <ul>
            <li><a href="http://knowledge.cta.int/Dossiers/S-T-Policy/Reshaping-tertiary-agricultural-education">Reshaping tertiary agricultural education</a></li>
            <li><a href="http://knowledge.cta.int/Dossiers/S-T-Issues/Food-security">Food security</a></li>
        </ul>
    </article>
</aside><!-- /#home-intro -->
