<aside id="explain-login">
    <p>If you are new to the AIFSHE community, please first sign up as a USER.</p>
    <p>You will then receive the confirmation of your registration by email, which will enable you to start using the AIFSHE tool.</p>
    <p>&nbsp;</p>
</aside>
<aside>
    <h3>To become a part of the AIFSHE worldwide network, you must:</h3>
    <p>Use the tool to conduct a self-assessment at your institution. Once completed and the report is submitted and approved by CTA, you will be able to access additional resources. </p>
</aside>
<aside>
    <h3>Alternatively, you can:</h3>
    <p>Apply to have a self-assessment undertaken by a consultant. This approach would help you/your institution to build capacity to use the AIFSHE tool, get an official report, as well as set policy goals and a development strategy on FNS. By the end of this process, you would also have trained one or several auditors among your own staff, who will be able to conduct and approve audits at your TAE and elsewhere. Interested? </p>
    <a href="mailto:francis@cta.int" class="btn">contact cta</a>
</aside>
<aside>
    <h3>You can also register if you are interested in: </h3>
    <p>Becoming a partner in the CTA/Wageningen UR/ACP university network FNS project by sending an email to CTA. This will enable you as well as your department, institute or university to develop policies and strategies in consultation with other universities and networks and build linkages with ongoing policy processes for improving the food and nutrition situation. </p>
    <a href="mailto:francis@cta.int" class="btn">contact cta</a>
</aside>
