<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>AIFSHE</title>
    <link rel="icon" type="image/x-icon" href="../../favicon.ico'"/>

    <!-- css files-->
    <link rel="stylesheet" href="../../css/stylesheets/screen.css"/>
    <link rel="stylesheet" href="../../css/jqtransform.css"/>

    <!-- jQuery -->
    <link rel="stylesheet" href="../../js/lib/jQuery/ui/css/ui-lightness/jquery-ui-1.10.3.custom.min.css"/>

    <script type="text/javascript" src="../../js/lib/jQuery/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jQuery/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jQuery/jquery.jqtransform.js"></script>
    <script type="text/javascript" src="../../js/lib/jQuery/ui/js/jquery-ui-1.10.3.custom.min.js"></script>

    <!-- stores -->
    <script type="text/javascript" src="../../app/Resources/store/settings.store.js"></script>
    <script type="text/javascript" src="../../app/Resources/store/sideMenu.store.js"></script>
    <script type="text/javascript" src="../../app/Resources/store/criterion.store.js"></script>

    <!-- model -->
    <script type="text/javascript" src="../../app/Resources/model/report.model.js"></script>

    <!-- translations -->
    <script type="text/javascript">var languages = {};</script>
    <script type="text/javascript" src="../../app/Resources/translations/en.js"></script>
    <script type="text/javascript" src="../../app/Resources/translations/nl.js"></script>
    <script type="text/javascript" src="../../app/Resources/translations/fr.js"></script>

    <!-- global js file -->
    <script type="text/javascript" src="../js/global.js"></script>

    <!-- page specific js file -->
    <script type="text/javascript" src="../js/editCriteria.js"></script>
</head>
<body>
<div id="content">
    <header>
        <div id="header-box">
            <div id="logo">
                <a href="#"><img src="../../img/logo-text.png" alt="AIFSHE"/></a>
            </div>
            <div id="language"></div>
        </div>
    </header>

    <nav id="navbar">
        <div id="menu">

        </div>
    </nav>

    <section id="main-content">

        <div id="flash-messages">
            <div class="flash-notice"></div>
            <div class="flash-error"></div>
        </div>

        <h1>
            <script type="text/javascript">document.write(reportModel.data.name);</script>
        </h1>

        <div id="side-menu" class="icons-menu">
            <script type="text/javascript">
                renderSideMenu();
            </script>
            <div id="icons">
                <a class="online-offline" href="">
                    <img src="../../css/img/icon-offline.png"/>
                    <span class="text">
                        <p class="translate">security.base.online</p>
                    </span>
                </a>
            </div>
        </div>

        <div id="block-content">
            <h2>
                <script type="text/javascript">
                    document.write(reportModel.data.name);
                </script>
                <span id="criterionType"></span></h2>
            <form>
                <div id="section-body">

                    <label class="translate">report.item.criterion</label>
                    <select id="select_criterion" name="select_criterion">
                        <script type="text/javascript">
                            loadSelectCriterion();
                        </script>
                    </select>

                    <label class="translate">report.item.currentSituation</label>

                    <div class="flags">
                        <ul name="edit-table-view" class="current_situation" id="flags">
                            <li class="top">
                                <span class="number first-number">0</span>
                                <span class="number">1</span>
                                <span class="number">2</span>
                                <span class="number">3</span>
                                <span class="number">4</span>
                                <span class="number last-number">5</span>
                            </li>

                            <li>
                                <span name="0">&nbsp;</span>
                                <span name="1">&nbsp;</span>
                                <span name="1-5">&nbsp;</span>
                                <span name="2">&nbsp;</span>
                                <span name="2-5">&nbsp;</span>
                                <span name="3">&nbsp;</span>
                                <span name="3-5">&nbsp;</span>
                                <span name="4">&nbsp;</span>
                                <span name="4-5">&nbsp;</span>
                                <span name="5">&nbsp;</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <label for="reportItem_currentSituationComment"
                               class="translate">report.item.currentSituationComment</label>
                        <textarea id="reportItem_currentSituationComment"
                                  name="currentSituationComment"></textarea>
                    </div>
                    <label class="translate">report.item.desiredSituation</label>

                    <div class="flags">
                        <ul name="edit-table-view" class="desired_situation" id="flags">
                            <li class="top">
                                <span class="number first-number">0</span>
                                <span class="number">1</span>
                                <span class="number">2</span>
                                <span class="number">3</span>
                                <span class="number">4</span>
                                <span class="number last-number">5</span>
                            </li>

                            <li>
                                <span name="0">&nbsp;</span>
                                <span name="1">&nbsp;</span>
                                <span name="1-5">&nbsp;</span>
                                <span name="2">&nbsp;</span>
                                <span name="2-5">&nbsp;</span>
                                <span name="3">&nbsp;</span>
                                <span name="3-5">&nbsp;</span>
                                <span name="4">&nbsp;</span>
                                <span name="4-5">&nbsp;</span>
                                <span name="5">&nbsp;</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <label for="reportItem_desiredSituationComment"
                               class="translate">report.item.desiredSituationComment</label>
                        <textarea id="reportItem_desiredSituationComment"
                                  name="desiredSituationComment"></textarea>
                    </div>

                    <div>
                        <label for="reportItem_hasHighPriority" class="translate">report.item.hasHighPriority</label>
                        <input type="checkbox" id="reportItem_hasHighPriority" name="priority" value="1">
                    </div>
                    <input type="hidden" id="reportItem_currentSituation" name="currentSituation">
                    <input type="hidden" id="reportItem_desiredSituation" name="desiredSituation">

                    <div>
                        <button type="submit" id="reportItem_save" class="translate" name="save">form.save</button>
                    </div>
                    <div>
                        <button type="submit" id="reportItem_saveAndNext" class="translate" name="saveAndNext">form.saveAndNext</button>
                    </div>

                    <div id="info"></div>
                </div>
            </form>

            <div id="dialog" title="Error" hidden="true"></div>
        </div>
    </section>
</div>

<footer>
    &nbsp;
</footer>

</body>
</html>