local-config.php
# Ignore paths that contain user-generated content.
/shared/*

# from devart
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/.idea/
!shared/.gitkeep
