{#{% block javascript_code %}#}
    {#{{ parent() }}#}
    {#{{ page.javascript|raw }}#}
{#{% endblock %}#}

<div class="page">
    {% if page.pageTranslations|length  %}
        {{ page.pageTranslations.0.value|raw }}
    {% else %}
        {{ 'page.noContent'|trans() }}
    {% endif %}
</div>
