parameters:
    app_name: 'CTA AISHE'
    app_email: info@cta.int
    app_url: http://
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: 3306
    database_name: null
    database_user: null
    database_password: null
    mailer_transport: smtp
    mailer_host: 'email-smtp.eu-west-1.amazonaws.com'
    mailer_user: 'AKIAIIMBRKHIPQSCRNTQ'
    mailer_password: 'AutpS1o9ezHoCdSqnMgCNcGqqU2rb9+RxIZHCJ0u8qZG'
    mailer_port: 587
    locale: en
    secret: ThisTokenIsNotSoSecretChangeIt
    mailer_error_from: exceptions@cta.int
    mailer_error_to: exceptions@cta.int
