{% extends 'CtaAdminAisheBundle::base.html.twig' %}

{% block bodyAdmin %}
    <h2>{{ 'criterion.item.translation.addOrEdit'|trans }} [{{ criterion.getChapterNr() }}] Item paragraph[{{ criterionItem.getParagraphNr }}]</h2>
    {{ form(form, { 'attr': {'class': 'largeForm'} } )}}
{% endblock %}