{% extends '::mail.html.twig' %}

{% block subject 'er werd nieuw rapport geimporteerd door ' ~ user.getUsername() %}

{% block body_html %}
    {{ parent() }}
    {% block content %}
        Beste Administrator, <br/><br/>

        <strong>{{ user.getUsername()|capitalize }}</strong> heeft een rapport ge&iuml;mporteerd. <br/>
        Klik <a href="#" style="color: #e74739; text-decoration: underline;">hier</a> om het rapport te bekijken.

        <br/><br/>
        <em>AIFSHE</em>
    {% endblock %}
{% endblock %}