<ul name="edit-table-view" class="{{ class }}" id="flags">
    <li class="top">
        <span class="number first-number">0</span>
        <span class="number">1</span>
        <span class="number">2</span>
        <span class="number">3</span>
        <span class="number">4</span>
        <span class="number last-number">5</span>
    </li>

    <li>
        <span name="0">&nbsp;</span>
        <span name="1">&nbsp;</span>
        <span name="1-5">&nbsp;</span>
        <span name="2">&nbsp;</span>
        <span name="2-5">&nbsp;</span>
        <span name="3">&nbsp;</span>
        <span name="3-5">&nbsp;</span>
        <span name="4">&nbsp;</span>
        <span name="4-5">&nbsp;</span>
        <span name="5">&nbsp;</span>
    </li>
</ul>