{% extends "CtaAisheBundle:Report:base.html.twig" %}

{% block report %}
    <h2>{{ 'report.import'|trans() }}</h2>
    <span class="nodata">{{ "report.importing.nodata"|trans() }}</span>
{% endblock %}