{% extends '::base.html.twig' %}

{% block body %}
    {{ include('CtaAisheBundle:Report:_partials/overview_menu.html.twig') }}

    <h1>{{ 'institution.overview'|trans() }}</h1>
    <h2>{{ 'institution.addOrEdit'|trans() }}</h2>
    {{ form(form, { 'attr': {'class': 'largeForm'} } )}}
{% endblock %}