header {
  width: 100%;
  height: 75px;
  display: block;
  background: #4d4d4d;

  div#header-box {
    position: relative;
    margin: 0 auto;
    width: 990px;
    height: 100%;
    display: block;

    div#logo-cta {
      position: absolute;
      left: -18px;
      top: 10px;
      float: left;
      img {
        width: 111px;
        height: 74px;
      }
    }

    h1 {
      position: absolute;
      left: 100px;
      top: 27px;
      color: #fcfff5;
      font-size: 20px;
    }

    div#logo {
//      padding: 0 36px 0 0;
      position: absolute;
      left: 710px;
      top: 0;
      height: 118px;
      width: 195px;
      background: url(../img/logo-bg.png) right top no-repeat;
      background-size: auto 105px;
      display: block;

      a {
        padding: 0 0 0 8px !important;
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: block;
        img {
          margin: 20px 0 0 2px;
          border: none;
          width: 160px;
        }
      }
    }

    div#language {
      float: right;
      margin: 10px 0 0 0;
      width: auto;
      height: 35px;
      text-align: right;
      display: block;

      span {
        float: left;
        margin: 0 5px;

        a {
          color: $lightgrey;
          &:hover {text-decoration: none; border-bottom: 1px solid $lightgrey;}
        }

        &.active {a{color: $red; text-decoration: none; border-bottom: 1px solid $red;}}

      }
    }
  }
}