ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: block;
  list-style-type: none;

  li {
    float: left;
    width: 100%;
    height: auto;
    line-height: 40px;
    display: block;
    border-bottom: 1px solid $blue;
    border-left: 1px solid $blue;
    border-right: 1px solid $blue;
    cursor: pointer;

    a {
      text-decoration: none;
      cursor: pointer;
      &:hover {text-decoration: none;}
    }

    &.even {background: #f1f5f7;}
    span.language {padding: 0; width: 104px; text-align: center; display: block;}
    &.top {
      padding: 0 1px;
      color: #fff;
      background: $blue;
      border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      -webkit-border-radius: 5px 5px 0 0;
      -o-border-radius: 5px 5px 0 0;
      border: none;

      span.language {padding: 0; width: 104px; text-align: center; display: block;}
      span.roles {padding: 0; width: 164px; text-align: left; display: block;}
      span.date-time {padding: 0; width: 194px; text-align: left; display: block;}
      span.enabled {padding: 0; width: 164px; text-align: left; display: block;}
      span.delete-row {width: 104px; text-align: center; display: block;}
      &:hover {background: $blue;}

      span.info {
        padding: 0 !important;
        width: 72px;
        text-align: center;
        display: block;
      }

      span.smalltitle {
        padding: 0 6px 0 10px;
        width: 20%;
      }

      span.mediumtitle {
        padding: 0 6px 0 10px;
        width: 25%;
      }
      span.institutions-name {
        padding: 0 6px 0 10px;
        width: 50%;
      }
    }

    span.info {
      padding: 0 !important;
      width: 72px;
      text-align: center;
      display: block;
    }

    &:hover {background: #d4e6ef;}

    a {
      color: $textcolor;
      text-decoration: none;
    }

    span {
      float: left;
      padding: 0 20px 0 0;
      display: block;

      span.text {display: none;}
    }

    span.title {
      padding: 0 6px 0 10px;
      width: 25%;
    }

    span.smalltitle {
      padding: 0 6px 0 10px;
      width: 20%;
    }

    span.mediumtitle {
      padding: 0 6px 0 10px;
      width: 25%;
    }

    span.institutions-name {
      padding: 0 6px 0 10px;
      width: 50%;
    }
    span.institution-name {
      width:100%
    }
    span.create-date {
      width: 15%
    }
    span.create-author {
      width: 15%;
    }
    span.edit-date {
      width: 15%
    }
    span.roles {padding: 0; width: 164px; text-align: left; display: block;}
    span.date-time {padding: 0; width: 194px; text-align: left; display: block;}
    span.enabled {
      padding: 0;
      max-height: 32px;
      width: 15%;
      text-align: left;
      display: block;
      img[src$='disabled.png'] {
        margin: 5px 0 0 0;
      }
    }

    span.edit-author {
      padding: 0;
      width: 200px;
    }

    &.criterion-row {
      height: 3px;
      background: $blue;
      display: block;
    }
  }

  span.number {
    padding: 0;
    width: 54px;
    text-align: center;
    display: block;
    cursor: pointer;
  }

  span.first-number {width: 37px;}
  span.last-number {width: 37px;}

  &[name=report-view] {
    li {
      height: 40px;
      line-height: 41px;
    }
    li.criterion-row {
      height: 3px;
    }
    li.top {
      span.number {
        padding: 0;
        width: 54px;
        text-align: center;
        display: block;
        cursor: pointer;
      }


      span.first-number {margin: 0; width: 37px;}
      span.last-number {width: 37px;}
      span.priority {padding: 0; width: 104px; text-align: center; display: block;}
      span.language {padding: 0; width: 104px; text-align: center; display: block;}
      span.roles {padding: 0; width: 164px; text-align: left; display: block;}
      span.empty-row {display: none;}
      span.emptyfield {width: 89px; text-align: center; display: block;}

      span.title {
        width: 40%;
        border: none !important;
      }

    }

    span.title {
      width: 40%;
      border-right: 1px dotted $lightblue;
      display: block;
    }
  }

  span[name="0"] {padding: 0; width: 36px; text-align: center; border-right: 1px dotted $lightblue; cursor: pointer; img {margin: 5px 0 -5px 0;}}
  span[name="1"] {padding: 0; width: 36px; text-align: center; border-right: 1px dotted $lightblue; cursor: pointer; img {margin: 5px 0 -5px 0;}}
  span[name="2"] {padding: 0; width: 36px; text-align: center; border-right: 1px dotted $lightblue; cursor: pointer; img {margin: 5px 0 -5px 0;}}
  span[name="3"] {padding: 0; width: 36px; text-align: center; border-right: 1px dotted $lightblue; cursor: pointer; img {margin: 5px 0 -5px 0;}}
  span[name="4"] {padding: 0; width: 36px; text-align: center; border-right: 1px dotted $lightblue; cursor: pointer; img {margin: 5px 0 -5px 0;}}
  span[name="5"] {padding: 0; width: 36px; text-align: center; border-right: 1px dotted $lightblue; cursor: pointer; img {margin: 5px 0 -5px 0;}}
  span[name="1-5"] {padding: 0; width: 17px; text-align: center; border-right: 1px dotted $lightblue; cursor: pointer; img {margin: 5px 0 -5px 0;}}
  span[name="2-5"] {padding: 0; width: 17px; text-align: center; border-right: 1px dotted $lightblue; cursor: pointer; img {margin: 5px 0 -5px 0;}}
  span[name="3-5"] {padding: 0; width: 17px; text-align: center; border-right: 1px dotted $lightblue; cursor: pointer; img {margin: 5px 0 -5px 0;}}
  span[name="4-5"] {padding: 0; width: 17px; text-align: center; border-right: 1px dotted $lightblue; cursor: pointer; img {margin: 5px 0 -5px 0;}}
  span.priority {
    padding: 0 34px;
    width: 32px;
    text-align: center;
    display: block;

    img {display: none;}

    &.jqtransformdone {
      text-align: center;
    }
    input[type=checkbox] {margin: 0 auto;}
  }

  span.flag-start {
    height: 32px;
    background: url(../img/start-line.png) right center no-repeat !important;
    cursor: pointer;

    &.flag-end {
      background: url(../img/start-end.png) center no-repeat !important;
    }

    img {display: none;}
  }
  span.flag-end {
    height: 32px;
    background: url(../img/end-line.png) left center no-repeat !important;
    cursor: pointer;

    img {display: none;}
  }

  span.flag-line {
    height: 32px;
    background: url(../img/line.png) left center repeat-x !important;

    img {display: none;}
  }

  span.empty {
    padding: 0;
    width: 104px;
    text-align: center;
    display: block;
    img {margin: 3px auto; cursor: pointer;}
  }

  span.delete {width: 41px; padding: 0 !important; text-align: center;}

  &[name=edit-table-view] {
    width: auto;
    margin: 0;
    display: table;
    li {
      clear: left;
      float: left;
      width: 296px;
    }
  }

  &#flags {
    &.desired_situation {
      li {
        height: 32px;
        line-height: 32px;
        span {padding: 0;}
      }
    }

    &.current_situation {
      li {
        height: 32px;
        line-height: 32px;
        span {padding: 0;}
      }
    }
  }

  &.criterion {
    li.top {
      span.empty-row {padding: 0 !important;}
      span.create-date {padding: 0 !important;}
      span.title {padding: 0 !important;}
    }

    li {
      span.create-date {padding: 0 !important;}
      span.title {padding: 0 !important;}
    }
  }

  &[name = edit-table-view] {
    li{
      span.flag-start {
        background: url(../img/start-solo.png) center no-repeat;
        cursor: pointer;
      }
      span.flag-end {background: url(../img/stop-solo.png) center no-repeat; cursor: pointer;}
    }
  }

  &[name=users-pending] {
    li {
      height: auto;
      span.create-author,
      span.institution {
        width: 29%;
      }
      span.title {
        width: 25%;
      }
      span.manage {
        width: 8%;
      }
    }
  }
  &[name=report-overview] {
    li {
      height: auto;
      span.status {
        padding: 0 0 0 10px !important;
        width: 20%;
      }
      span.create-author {
        width: 15%;
      }
      span.edit-author {
        width: 15%;
      }
      span.auditor {
        width: 15%;
      }
    }
  }
}