{% extends '::mail.html.twig' %}

{% block subject 'Aanvraag auditor door ' ~ user.getUsername() %}

{% block body_html %}
    {{ parent() }}
    {% block content %}
        Beste Administrator, <br/><br/>

        Een nieuwe gebruiker <strong>({{ user.getUsername() }})</strong> heeft een aanvraag ingediend om auditor te worden.<br/>
        Klik <a href="{{ appUrl }}{{ path('cta_admin_aishe_security_user_pending_activate', {'action': 'accept', 'id': user.getId()}) }}" style="color: #e74739; text-decoration: underline;">hier</a> om deze rechten aan de gebruiker toe te kennen.

        <br/><br/>
        <em>AIFSHE</em>
    {% endblock %}
{% endblock %}
